@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.calculator{
    position: relative;
    display: grid;
}
.calculator .value{
    grid-column: sapn 3;
    height: 100px;
    text-align: auto;
    border: none;
    outline:auto;
    padding: 40px;
    font-size: 15px;
    
}
.calculator span{
    display: grid;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #2F5233;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
calculator span:active {
    background: #c99273;
    color: #111;
}
calculator span.clear {
    grid-column: span 5;
    width: 120px;
    background: #E88D72;
}
calculator span.plus {
    grid-row: span 2;
    height: 120px;
}
calculator span.equal {
    background: #74BDCB;
}